<div class="container">
    <h1 class="text-center my-4">Editar Categoria</h1>
  
    <form (ngSubmit)="atualizarCategoria()" class="mb-4 shadow p-3 rounded bg-light">
      <div class="form-group mb-3">
        <label for="nome">Nome:</label>
        <input
          type="text"
          id="nome"
          class="form-control"
          [(ngModel)]="categoria.nome"
          name="nome"
          placeholder="Digite o nome da categoria"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="descricao">Descrição:</label>
        <input
          type="text"
          id="descricao"
          class="form-control"
          [(ngModel)]="categoria.descricao"
          name="descricao"
          placeholder="Digite a descrição da categoria"
          required
        />
      </div>
      <div class="form-group mb-3">
        <label for="dataCriacao">Data de Criação:</label>
        <input
          type="text"
          id="dataCriacao"
          class="form-control"
          [(ngModel)]="categoria.dataCriacao"
          name="dataCriacao"
          placeholder="Digite a data (ex: 01/01/2024)"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary w-100">Atualizar Categoria</button>
    </form>
  </div>
  
