<div class="container">
  <h1 class="text-center my-4">Gerenciamento de Categorias</h1>

  <!-- Formulário para adicionar nova categoria -->
  <form (submit)="adicionarCategoria()" class="mb-4 shadow p-3 rounded bg-light">
    <div class="form-group mb-3">
      <label for="nome">Nome:</label>
      <input
        type="text"
        id="nome"
        class="form-control"
        [(ngModel)]="novaCategoria.nome"
        name="nome"
        placeholder="Digite o nome da categoria"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="descricao">Descrição:</label>
      <input
        type="text"
        id="descricao"
        class="form-control"
        [(ngModel)]="novaCategoria.descricao"
        name="descricao"
        placeholder="Digite a descrição da categoria"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="dataCriacao">Data de Criação:</label>
      <input
        type="text"
        id="dataCriacao"
        class="form-control"
        [(ngModel)]="novaCategoria.dataCriacao"
        name="dataCriacao"
        placeholder="Digite a data (ex: 01/01/2024)"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary w-100">Adicionar Categoria</button>
  </form>

  <!-- Tabela de categorias -->
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th class="text-center">ID</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Data de Criação</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td class="text-center align-middle">{{ categoria.id }}</td>
          <td class="align-middle">
            <!-- Tornar o campo nome readonly -->
            <input
              [(ngModel)]="categoria.nome"
              class="form-control"
              name="nome"
              readonly
            />
          </td>
          <td class="align-middle">
            <!-- Tornar o campo descrição readonly -->
            <input
              [(ngModel)]="categoria.descricao"
              class="form-control"
              name="descricao"
              readonly
            />
          </td>
          <td class="align-middle">
            <!-- Tornar o campo dataCriacao readonly -->
            <input
              [(ngModel)]="categoria.dataCriacao"
              class="form-control"
              name="dataCriacao"
              placeholder="Digite a data (ex: 01/01/2024)"
              readonly
            />
          </td>
          <td class="text-center align-middle">
            <div class="btn-group">
              <button
                  class="btn btn-success btn-sm"
                  (click)="editarCategoria(categoria.id)"
                >
                  Atualizar
                </button>
              <button
                class="btn btn-danger btn-sm"
                (click)="removerCategoria(categoria.id)"
              >
                Remover
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <!-- Botão abaixo da tabela para redirecionar para a página de produtos -->
  <div class="text-center mt-4">
    <button class="btn btn-secondary" (click)="navegarParaProdutos()">Ir para Produtos</button>
  </div>
</div>
